.wrapper-docpage {
  min-height: 600px;
  /* hide sidebar sub menus by default */
  /* show sub menu when parent is active */ }
  .wrapper-docpage .affix-top, .wrapper-docpage .affix {
    position: static; }
  @media (min-width: 979px) {
    .wrapper-docpage #sidebar_col.affix-top {
      position: static;
      margin-top: 20px;
      width: 228px; }
    .wrapper-docpage #sidebar_col.affix {
      position: fixed;
      top: 85px;
      width: 228px; } }
  .wrapper-docpage #sidebar li {
    font-size: 1.2em; }
  .wrapper-docpage #sidebar li.active {
    border: 0 #eee solid;
    border-right-width: 5px; }
  .wrapper-docpage #sidebar li li.active {
    border: 0 #eee solid;
    border-left-width: 4px; }
  .wrapper-docpage #sidebar li li.active a {
    margin-left: -4px; }
  .wrapper-docpage #sidebar_col {
    max-height: 70%; }
  .wrapper-docpage #sidebar.nav .nav {
    display: none;
    font-size: 12px; }
  .wrapper-docpage #sidebar.nav > .active > ul {
    display: block; }
  .wrapper-docpage .header-h3 {
    margin-left: 10px !important; }
  .wrapper-docpage .nav > li > a {
    position: relative;
    display: block;
    padding: 2px 15px; }
  .wrapper-docpage .hljs {
    background-color: inherit;
    color: inherit; }
  .wrapper-docpage .toc ul {
    padding-bottom: 30px; }
    .wrapper-docpage .toc ul li {
      padding: 2px 15px; }
      .wrapper-docpage .toc ul li a {
        text-decoration: none;
        font-size: 1.2em; }
  .wrapper-docpage .back-to-index {
    padding-bottom: 10px; }
    .wrapper-docpage .back-to-index a {
      text-decoration: none;
      font-size: 1.2em; }

