@model DevelopersSite.Models.DocumentViewModel

<div class="wrapper wrapper-docpage">
    <div class="list">
        @Component.Invoke("Sidebar", Model)
    </div>
    <div class="body" id="documentation">
        @Html.Raw(Model.Content)
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            hljs.initHighlightingOnLoad();
        });
    </script>
}

@section styles {
    @if (Model.DocumentCount > 2)
    {
    <style>
        .wrapper-docpage #sidebar.nav .nav {
            display: block;
        }
    </style>
    }
}