<footer>
    <div class="container">
        <div class="row">
            <ul>
                <li class="footer-list-header">Products</li>
                <li><a href="/docs/API">Slamby API</a></li>
                <li><a href="/docs/SDK.NET/">SDK.NET</a></li>
                <li><a href="/docs/tau/">Slamby TAU</a></li>
            </ul>
            <ul>
                <li class="footer-list-header">Open Source Projects</li>
                <li><a href="https://github.com/slamby/" target="_blank">Slamby Github Page</a></li>
                <li><a href="https://github.com/slamby/slamby-sdk-python" target="_blank">SDK for Python</a></li>
                <li><a href="https://github.com/slamby/slamby-sdk-javascript" target="_blank">SDK for Node.JS</a></li>
                <li><a href="https://github.com/slamby/slamby-sdk-php" target="_blank">SDK for PHP</a></li>
            </ul>
            @*<ul>
                <li class="footer-list-header">Contact</li>
                <li><a asp-controller="About" asp-action="Press">Press</a></li>
                <li><a asp-controller="About" asp-action="Contact">Contact</a></li>
            </ul>*@
        </div>
        <div class="footer-closing">
            Copyright Slamby @DateTime.Now.Year. All right reserved.
        </div>
    </div>
</footer>