@inject DevelopersSite.Services.DocumentService service
@{
    var currentProduct = ViewBag.CurrentProduct;
}

@{
    var result = false;
    var plusStyle = "";
    if (ViewBag.IsNavbarTopFixed != null) {
        result = ViewBag.IsNavbarTopFixed;
    }
    if (result) {
        plusStyle = "<style> body { padding-top: 50px; } </style>";
    }
}

@Html.Raw(plusStyle)

<nav class="navbar navbar-default @(@result ? "navbar-fixed-top" : "")">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span>Slamby</span> Developers</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left menu">
                    <li><a href="/docs/api">API</a></li>
                    <li><a href="/docs/insight">Insight</a></li>
                    <li><a href="/docs/tau">TAU</a></li>
                    <li><a href="/docs/SDK.NET">.Net SDK</a></li>
                    <li><a href="/tutorial">Tutorials</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right menu">
                    <li><a href="https://www.slamby.com/support" target="_blank">Support</a></li>
                    <li><a href="http://blog.slamby.com" target="_blank">Blog</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>