<div class="container">
    <div class="wrapper page-header">
        <h2>Tutorials</h2>
    </div>
    <div class="wrapper wrapper-docpage">
        <div class="list col-xs-4">
            <ul>
                @foreach (var item in ViewBag.tutorials)
                {
                    <li><a href="~/tutorial/@item.id" target="_self">@item.title.rendered</a></li>
                }
            </ul>
        </div>
        <div class="col-xs-8 tutorial">
            <h3>@ViewBag.post.title.rendered</h3>
            <p>@Html.Raw(ViewBag.post.content.rendered)</p>
        </div>
    </div>
</div>