@model NewsViewModel

<section class="main">
    <div class="container">
        <div class="row">
            <div class="left">
                <img src="/images/home/stars.svg" alt="" class="img-responsive">
            </div>
            <div class="right">
                <h1>Slamby API 1.5.0</h1>
                <p class="lead">The latest Slamby API now available. Improved performance, new awesome features.</p>
                <p>
                    <a href="/docs/api" class="btn btn-default">Let's check this</a>
                </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4 guide-image">
                        <img src="/images/home/documentation.svg" alt="" class="img-responsive">
                    </div>
                    <div class="col-xs-8">
                        <h2>Documentation</h2>
                        <p class="lead">Start by learning the basics of the Slamby API, and view available resources in our complete API
                            Reference.</p>
                        <p><a href="/docs/api">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-panel">
                @if (Model.News != null)
                {
                    <h3>News, Updates</h3>
                    <a href="/news" class="read-all pull-right btn btn-default">Read all</a>
                    <ul class="list-group">
                        @foreach (var item in Model.News.Count() > 5 ? Model.News.Take(5) : Model.News) {
                            <li class="list-group-item">
                                <a href="/news#@(item.Slug)" target="_self">@Html.Raw(item.Title.Rendered)</a>
                            </li>
                        }
                    </ul>
                }
                </div>
            </div>
        </div>
    </div>
</section>

@*
<div class="container-fluid">
    <div class="wrapper">
        <img use-cdn style="width:100%" src="/images/misc/bg_demo_big_half.jpg" />
</div>
</div>

<div class="container">
    <div class="wrapper page-header">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2>Advanced Text Processing for Enterprises</h2>
            <p class="lead">Build global, scalable, easy to use data-processing solutions</p>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="wrapper">
        <div class="col-sm-4">
            <i class="fa fa-newspaper-o fa-3x"></i>
            <h4>Newsletter</h4>
            <p>Subscribe to receive our latest developments via e-mail.</p>
            <button class="btn btn-info" data-toggle="modal" data-target="#SubscriptionForm">Subscribe</button> @Html.Partial("Partial/_SubscriptionModal")
        </div>
        <div class="col-sm-4">
            <i class="fa fa-linkedin fa-3x"></i>
            <h4>LinkedIn Group</h4>
            <p>Join our group to be aware of our latest developments.</p>
            <a href="https://www.linkedin.com/groups/8485577" class="btn btn-info" role="button" target="_blank">Join Community</a>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-rss fa-3x"></i>
            <h4>Developer News</h4>
            <p>Check the latest developer<br />& product updates.</p>
            <a href="/News" class="btn btn-info" role="button" target="_self">Read News</a>
        </div>
    </div>
    <hr />
</div>

<div class="container">
    <div class="wrapper">
        <div class="col-md-12">
            <h3>Recent Updates</h3>
        </div>
        <div class="col-md-12">
            @if (Model.News.Count() == 0) {
            <p>Currently there is no news available.</p>
            } else {
            <ul class="list-group">
                @foreach (var item in Model.News) {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <a href="/news#@(item.Slug)" target="_self">@Html.Raw(item.Title.Rendered)</a>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <span class="pull-right text-muted">@item.DateFormatted</span>
                        </div>
                    </div>
                </li>
                }
            </ul>
            <div class="pull-right col-md-2 col-md-offset-11">
                <a href="/News" class="btn btn-info" role="button" target="_self">Read All News</a>
            </div>
            }
        </div>
    </div>*@