@model NewsViewModel
@*<div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h4>Product Docs</h4>
                <ul>
                    <li><a href="/docs/API/">Slamby API</a></li>
                    <li><a href="/docs/SDK.NET/">Slamby SDK.NET</a></li>
                    <li><a href="/docs/TAU/">Slamby TAU</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <h4>Tutorials, Guides</h4>
                <ul>
                    <li>Category Recommendation</li>
                    <li>Similar Document Recommendation</li>
                    <li>Duplicate Detector</li>
                </ul>
            </div>
            <div class="col-xs-4">
                <h4>Video Tutorials</h4>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=-1TE78i8BAs&list=PLbEbVmTCIQiFS-yvgvzKpNb63JMkkgTjf&index=1" target="_blank">Slamby TAU (0.12.1) Tutorial - Introduction</a></li>
                    <li><a href="https://www.youtube.com/watch?v=S0H8lufnPng&index=2&list=PLbEbVmTCIQiFS-yvgvzKpNb63JMkkgTjf" target="_blank">Slamby TAU (0.12.1) Tutorials - Installation and Server Settings</a></li>
                    <li><a href="https://www.youtube.com/watch?v=H5_jSZJmTPg&list=PLbEbVmTCIQiFS-yvgvzKpNb63JMkkgTjf&index=3" target="_blank">Slamby TAU (0.12.1) Tutorial - Basics</a></li>
                    <li><a href="https://www.youtube.com/watch?v=cjdQRfFQd9k&index=4&list=PLbEbVmTCIQiFS-yvgvzKpNb63JMkkgTjf" target="_blank">Slamby TAU (0.12.1) Tutorial - Dataset Managemenet</a></li>
                    <li><a href="https://www.youtube.com/watch?v=k6Xrr6nmjJ0&index=5&list=PLbEbVmTCIQiFS-yvgvzKpNb63JMkkgTjf" target="_blank">Slamby TAU (0.12.1) Tutorial - Document Management</a></li>
                    <li><a href="https://www.youtube.com/watch?v=0zhDeW_pQUU&index=6&list=PLbEbVmTCIQiFS-yvgvzKpNb63JMkkgTjf" target="_blank">Slamby TAU (0.12.1) Tutorial - Classifier Service</a></li>
                    <li><a href="https://www.youtube.com/watch?v=2TwqXjnGWXM&index=7&list=PLbEbVmTCIQiFS-yvgvzKpNb63JMkkgTjf" target="_blank">Slamby TAU (0.12.1) Tutorial - PRC Service</a></li>
                </ul>
            </div>
        </div>
        <hr />
    </div>*@


<div class="container-fluid" style="background-image:url('/images/misc/bg_demo_big.jpg'); background-size:cover">
    <div class="wrapper" style="padding:30% 0 30% 0"></div>
</div>

<div class="container">
    <div class="wrapper page-header">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2>Advanced Text Processing for Enterprises</h2>
            <p class="lead">Build global, scalable, easy to use data-processing solutions</p>
        </div>
    </div>
</div>

@*<div class="container">
        <div class="wrapper text-center">
            <div class="col-xs-4 bg-danger">
                <h4>Slamby API</h4>
                <p>Lorem Ipsum Dolorem</p>
            </div>
            <div class="col-xs-4 bg-info">
                <h4>.Net SDK</h4>
                <p>Lorem Ipsum Dolorem</p>
            </div>
            <div class="col-xs-4 bg-primary">
                <h4>Python SDK</h4>
                <p>Lorem Ipsum Dolorem</p>
            </div>
            <div class="col-xs-4 bg-success">
                <h4>Node.JS SDK</h4>
                <p>Lorem Ipsum Dolorem</p>
            </div>
            <div class="col-xs-4 bg-warning">
                <h4>PHP SDK</h4>
                <p>Lorem Ipsum Dolorem</p>
            </div>
            <div class="col-xs-4 bg-info">
                <h4>Slamby TAU</h4>
                <p>Lorem Ipsum Dolorem</p>
            </div>
        </div>
    </div>*@

<div class="container text-center">
    <div class="wrapper">
        <div class="col-sm-4">
            <i class="fa fa-newspaper-o fa-3x"></i>
            <h4>Newsletter</h4>
            <p>Subscribe to receive our latest developments via e-mail.</p>
            <button class="btn btn-info" data-toggle="modal" data-target="#SubscriptionForm">Subscribe</button>
            @Html.Partial("Partial/_SubscriptionModal")
        </div>
        <div class="col-sm-4">
            <i class="fa fa-linkedin fa-3x"></i>
            <h4>LinkedIn Group</h4>
            <p>Join our group to be aware of our latest developments.</p>
            <a href="https://www.linkedin.com/groups/8485577" class="btn btn-info" role="button" target="_blank">Join Community</a>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-rss fa-3x"></i>
            <h4>Developer News</h4>
            <p>Check the latest developer<br />& product updates.</p>
            <a href="/News" class="btn btn-info" role="button" target="_self">Read News</a>
        </div>
    </div>
    <hr />
</div>

<div class="container">
    <div class="wrapper">
        <div class="col-md-12">
            <h3>Recent Updates</h3>
        </div>
        <div class="col-md-12">
            @if (Model.News.Count() == 0)
            {
                <p>Currently there is no news available.</p>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var item in Model.News)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-8">
                                    <a href="/news#@(item.Slug)" target="_self">@Html.Raw(item.Title.Rendered)</a>
                                </div>
                                <div class="col-xs-4">
                                    <span class="pull-right text-muted">@item.Date.ToString("dd. MMMM, hh:mm", System.Globalization.CultureInfo.InvariantCulture)</span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>