.wrapper {
    @include make-row();
    margin-bottom: 25px;
}

.wrapper-docpage {
    text-align:left;
    padding:15px;
    
    .list {
        //@include make-md-column(3);
        //@include make-xs-column(3);
        border-right:1px solid lightgray;

        .version-selector {
            margin-bottom:15px;
        }

        ul {
            padding:0px;
            margin:0px;
            list-style:none;
        }

        ul li {
            padding-bottom:5px;
            border-bottom:1px solid lightgray;
        }
    }
    .body {
        @include make-md-column(9);
        //@include make-xs-column(9);

        .container {
            @include make-row();
            @include make-xs-column(12);
        }
        img {
            @include img-responsive();
        }
    }
}